.profile__block {
    display: flex;
    align-items: center;
}
@media (max-width: 720px) {
    .profile__block {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
}