.link-register__text {
  font-size: 14px;
  line-height: calc(17 / 14);
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.link-register__text:hover {
  opacity: 0.8;
  text-decoration: underline;
}
