.profile__edit {
    display: inline-flex;
    align-items: baseline;
    max-width: 336px;
}
.profile__edit:not(:last-child) {
    margin-bottom: 16px;
}

@media (max-width: 720px) {
    .profile__edit:not(:last-child) {
        margin-bottom: 14px;
    }
}
@media (max-width: 400px) {
    .profile__edit:not(:last-child) {
        max-width: 282px;
        margin-bottom: 7px;
    }
}