.register {
  display: flex;
  flex-direction: column;
  max-width: 388px;
  margin: 0 auto auto;
  padding: 60px 15px 0;
}

@media (max-width: 430px) {
  .register {
    max-width: 290px;
    padding-top: 42px;
  }
}
