.popup__input {
    box-sizing: border-box;
    border: 0;
    /*padding: 0;*/
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    line-height: 121%;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-height: 27px;
    padding: 2px 0 6px;
    transition: padding .15s ease,box-shadow .3s ease,border-radius .3s ease;
}
.popup__input:focus {
    outline: none;
    box-shadow: 0 0 2px 2px #B2FFFF;
    border-radius: 4px;
    padding: 4px 0 10px 4px;
}

